<div class="flex shadow-md bg-white font-sans items-center p-6">
  <div class="text-center">
    <h1>{{ title }}</h1>
    <ul class="list-outside hover:list-inside">
      <li><b>ToDo App</b></li>
      <li *ngFor="let task of tasks">
        {{ task.description }}
      </li>
    </ul>
  </div>
  <div class="shadow-xl bg-slate-900">
    <label for="addItemInput">What You are goning to do ?</label>
    <input
      class="blur-sm hover:backdrop-blur-xl"
      type="text"
      #newItem
      (keyup.enter)="addItems(newItem.value); newItem.value = ''"
    />
    <button type="submit" (click)="addItems(newItem.value)">Add</button>
  </div>
</div>
