<div class="items-center">
  <div class="shadow-sm bg-slate-500">
    <h1>
      <li>
        <b>{{ title }}</b>
      </li>
    </h1>
  </div>
  <div class="shadow-lg bg-slate-100">
    <ul>
      <li *ngFor="let task of tasks">
        {{ task.description }}
      </li>
    </ul>
  </div>
  <div class="shadow-sm">
    <label for="addItemInput">What You are goning to do ?</label>
    <input
      class="hover:backdrop-blur-sm"
      type="text"
      #newItem
      (keyup.enter)="addItems(newItem.value); newItem.value = ''"
    />
    <button type="submit" (click)="addItems(newItem.value)">Add</button>
  </div>
</div>
