<div class="shadow-sm rounded-md bg-black text-white font-sans text-center">
  <h1>
    {{ title }}
  </h1>
  <label for="addItemInput">What You are goning to do ?</label>
</div>
<div class="grid gap-4 h-full">
  <div class="shadow-lg bg-slate-100 justify-around h-full rounded-xl">
    <ul class="shadow-xl rounded-lg border-spacing-5 gap-5 mt-2">
      <li
        class="rounded-md text-balance h-8 font-mono text-lg my-4"
        *ngFor="let task of tasks"
      >
        {{ task.description }}
      </li>
    </ul>
  </div>
  <div class="">
    <input
      class="w-full h-[2rem] rounded-lg text-center mb-5"
      type="text"
      placeholder="Type Here"
      #newItem
      (keyup.enter)="addItems(newItem.value); newItem.value = ''"
    />
    <button
      class="rounded-lg w-full bg-black text-white"
      type="submit"
      (click)="addItems(newItem.value)"
    >
      Add
    </button>
  </div>
  <div>
    <!-- <p>
         <input
          class="shadow-lg w-full h-10 block rounded-lg"
          type="text"
          value="type Here"
          #inputText
          required
        />
      </p> -->
    <p>
      value:
      <input
        type="text"
        class="shadow-lg w-full h-10 block rounded-lg"
        #inputText
        [(ngModel)]="title"
        value="type Here to see cahnge "
      />
    </p>
  </div>
</div>
